@import './../../../common/style/mixins';
@import './../../../common/style/variables';


.skill {
	width: 320px;
	// border: 1px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 15px;
	background-color: rgb(37, 28, 70);
	border-radius: 10px;
	padding: 10px;

	&__logo {
		background-color: gray;
		border: 1px solid white;
		width: 80px;
		height: 80px;
	}

	&__subTitle {
		margin-top: 15px;
		@include fontPrimary(500, 18px);
	}

	&__description {
		@include fontPrimary(300, 16px);
		text-align: center;
	}

}

