@import './../../../common/style/mixins';
@import './../../../common/style/variables';

.project {
	margin-top: 15px;
	min-width: 360px;
	height: 100%;
	background-color: rgb(72, 45, 134);
	padding: 10px;
	border-radius: 15px;

	&__img {
		width: 100%;
		height: 300px;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		// background-color: grey;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $primaryColor;
		border-radius: 15px;
		opacity: .8;
		
	}

	&__btn {
		border-radius: 10px;
		border: none;
		background-color: $primaryColor;
		padding: 7px
	
	}

	&__link {
		@include fontPrimary(500, 16px);
		text-decoration: none;
	
	}


	.info {
		margin-left: 15px;
		margin-bottom: 15px;

		&__subTitle {
			margin-top: 15px;
			@include fontPrimary(500, 20px);
		}

		&__description {
			margin-top: 15px;
			@include fontPrimary(300, 16px);
		}
	}
}
