.contactBlock {
	background-color: aquamarine;
}

.contentWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 50px 0;
}

.title {
	background-color: gray;
}

.form {
	display: flex;
	flex-direction: column;
	width: 260px;
	border: 1px solid gray;
}

.formInput {
	margin-bottom: 15px;
}

.formTextarea {
	min-height: 80px;
}